* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;

}

p{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('images/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 70vh;

    /* display text in the middle of the page */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* display button under h1 */
    flex-direction: column;
}

a{
    background-color: #ff00cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 2%;
    font-family:Arial, Helvetica, sans-serif;
}

#collage{
    width: 100%;
    height: auto;

}

div{
    font-family: Arial, Helvetica, sans-serif;
    margin: 4%;
}

p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 4%;
    gap: 4%;
}

.experience img{
width: 28vw;
height: auto;
}

footer{
    background-color: black;
    color: white;
    padding: 2%;
    font-family: 'inter';
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

